<div class="text-center"><p>
  <a [routerLink]="['/']" class="btn btn-danger mb-3" id="nav">Books</a>
  <a [routerLink]="['/library']" class="btn btn-success mb-3"id="nav">Library</a>
  
</p></div>
<ng-container *ngIf="(bookPost$ | async) as bookPost; else loading">
   <div class="card">
    <div class="card-body">
        <h4 class="card-title">Title: {{ bookPost.title }}</h4>
        <h6 class="text-muted card-subtitle mb-2">Note: {{ bookPost.body }}</h6>
        <p class="card-text">Creator of post: {{ bookPost.creator }}</p>
        <p class="card-text">Date post: {{ bookPost.dt }}</p>
        <form [formGroup]="form" #formDir="ngForm"novalidate>
        <div class="form-group row">
          <div class="col-md-12">
            <input class="form-control" id="forminput" type="number" formControlName="lib">
          </div>
        </div>
        <button class="btn btn-success float-right" (click)="onSubmit()">Show library</button></form>
      </div></div>  
</ng-container>

<ng-container *ngIf="(libraryPost$ | async) as libr;">
  <div class="card">
   <div class="card-body">
      
       <h6 class="text-muted card-subtitle mb-2">Library: {{ libr.title }}</h6>
       <h4 class="card-title">Adress: {{ libr.adress }}</h4>
     </div></div>  
</ng-container>

<ng-template #loading>Loading…</ng-template>

