
<div class="text-center"><p>
  <a [routerLink]="['/']" class="btn btn-danger mb-3"style="width: 26%;margin-bottom:0px">Books</a>
  <a [routerLink]="['/library']" class="btn btn-success mb-3"style="width: 26%;margin-left:20px;margin-bottom:0px">Library</a>
</p></div>
<h1>{{actionType}} book</h1>
<div class="card">
  <div class="card-body">
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class=" control-label col-md-12 ">Title</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="title" minlength="4" maxlength="50">
    </div>
  </div>

  
  
    <select formControlName="libb" style="margin-top: 20px;"class="form-select"  [(ngModel)]='selectedValue'>
      <option disabled [value]=null>Change library</option>
    <option   *ngFor="let libbb of (libraryPosts$ | async)" [value]= "libbb.libId" > {{ libbb.title }}</option>
  
 
  </select>

  
  
  
  
  <div class="form-group row">
    <label class="control-label col-md-12" for="Body">Note</label>
    <div class="col-md-12">
      <textarea class="form-control" rows="10" formControlName="body" minlength="10" maxlength="200"></textarea>
    </div>
    
  </div>
  <div class="form-group">
  <button type="submit" style= "margin: 5px;margin-top:50px; margin-left: 30px;float:inline-start;"class="btn btn-success float-right">Save</button>
    <button class="btn btn-danger float-left"style= "margin: 5px;margin-top:50px; margin-left: 30px;float:right;" (click)="cancel()">Cancel</button>
  </div>
</form>
</div></div> 

     