<ng-container *ngIf="(libraryPost$ | async) as libraryPost; else loading">
    <div class="card">
     <div class="card-body">
        <h6 class="text-muted card-subtitle mb-2">Library: {{ libraryPost.title }}</h6>
        <h4 class="card-title">Adress: {{ libraryPost.owner }}</h4>
      
       </div></div>  
 </ng-container>
 <ng-container >
 <div class="d-flex flex-wrap">
    <i *ngFor="let book of (bookPost$ | async)" style="margin:auto;" >
    <div class="card" style="width: 300px; margin: 10px auto;"  *ngIf="book.lib == libId" >
      <div class="card-body d-flex flex-column" >
          
          <h6 class="text-muted card-subtitle mb-2"><b>Title:</b> {{ book.title }}</h6>
        <h6 class="card-title"><b>Added:</b> {{ book.dt }}</h6>
        <h6 class="card-title"><b>Note:</b> {{ book.body }}</h6>
          </div></div>
        </i> </div></ng-container>
 <ng-template #loading>Loading…</ng-template>