/* You can add global styles to this file, and also import other style files */

input:invalid {
    border: 2px solid red;
    color: red;
  }
  
  #nav{
    width: 26%;
    margin-left:20px;
 }
#forminput{
  display:none;
}
  #select{
    margin-top: 20px;
  }
  #leftbutton{
    margin:10px;
    margin-top:50px; 
    float:left;
  }
  #rightbutton{
    margin:10px;
    margin-top:50px; 
    float:right;
  }
  #cardbookposts{
    width: 300px; 
    margin: 10px auto;
  }
  #leftdownbutton{
    width:34%;
    margin: 5px; 
    margin-right: 30px;
    margin-top:20px; 
  }
  #rightdownbutton{
    width:34%;
    margin: 5px;
    margin-top:20px; 
    margin-left: 30px;
    float:right;
  }
  #libcardout{
    margin-left:auto;
    margin-right: auto;
  }
  #libcardin{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-top: 10px;
}
  #txtcnt{
    text-align:center;
  }
  #downtext{
   border: 2px solid black;
    text-align:center;
  }
  textarea:invalid {
    border: 2px solid red;
    color: red;
  }
  
  
  select:invalid {
    border: 2px solid red;
    color: red;
    lighting-color: red;
  }
  input:required {
    border: 1px dashed red;
  }
  .btn-success{
   background-color:rebeccapurple  ;
   border-color:rebeccapurple;
    }
.btn-success:hover{
        background-color:rgb(78, 39, 117);
        border-color:rgb(78, 39, 117);
         }