
<div class="text-center"><p>
  <a [routerLink]="['/']" class="btn btn-danger mb-3" id="nav">Books</a>
  <a [routerLink]="['/library']" class="btn btn-success mb-3"id="nav">Library</a>
  
</p></div>
<h1>{{actionType}} library</h1>
<div class="card">
  <div class="card-body">
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class=" control-label col-md-12 ">Name</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="title" minlength="4" maxlength="50">
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Body">Adress</label>
    <div class="col-md-12">
      <textarea class="form-control" rows="1" formControlName="body" minlength="12" maxlength="100"></textarea>
    </div>
    
  </div>
  <div class="form-group">
  <button type="submit" id="leftbutton"class="btn btn-success float-right">Save</button>
    <button class="btn btn-danger float-left"id="rightbutton" (click)="cancel()">Cancel</button>
  </div>
</form>
</div></div> 
